# OpsAPI
OPS_BASE_URL=
OPS_CLIENT_ID=
OPS_CLIENT_SECRET=
OPS_CONNECTION_STRING=
OPS_USERNAME=
OPS_PASSWORD=

# EstAPI
EST_BASE_URL=
EST_USERNAME=
EST_PASSWORD=
EST_CLIENT_ID=
EST_CLIENT_SECRET=
EST_CONNECTION_STRING=
